<manifest
    package="jp.tkgktyk.xposed.niwatori"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposedminversion"
            android:value="2.0*"/>
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description"/>

        <activity
            android:name=".app.SettingsActivity"
            android:label="@string/settings_activity_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".app.InitialPositionActivity"
            android:theme="@style/TranslucentTheme"/>
        <activity android:name=".app.AppSelectActivity"/>
        <activity
            android:name=".app.ActionActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ShortcutActivity"
            android:label="@string/shortcut_activity_name"
            android:theme="@style/DialogTheme">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".app.AboutActivity"
            android:label="@string/about_activity_name"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>
